/*
Theme Name: CollegeAccess Child Theme
Description: Child theme for the College Access website
Author: UCF Connect
Theme URI: https://github.com/UCF/CollegeAccess-Child-Theme
Author URI: https://connect.ucf.edu
Template: Colleges-Theme
Version: 1.0.2
Tags: DirectConnect Colleges-Theme Connect
*/